.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins' ,sans-serif; */
}

.main{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100vw;
    height: 100vh;
    background-color: black;

}
.text{
    position: relative;
    margin: 20px 20px 0;
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

h1:before
{
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%, #000 5%, #000 
        100%);
        animation:animate 5s linear forwards;
        animation-delay: 0.5s;
}
@keyframes animate{
    0%{
        left: 120%;/*120 for animate from left*/
    }
    100%{
        left: -20%;/*-20% for left animation*/ 
    }
}
h1 span{
    color: red;
}
video{
    position: absolute;
    top:0;
    left: 0;/**/
    width: 80%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
}